@media only screen and (max-device-width: 480px) {
  .about-me-text {
    font-size: 3em;
  }

  .card-text {
    font-size: 4em;
  }

  .name {
    font-size: 7em;
  }

  .contact-info {
    padding-top: 3em;
  }
}

@media only screen and (min-device-width: 480px) {
  .about-me-text {
    font-size: 2em;
  }

  .card-text {
    font-size: 2em;
  }

  .name {
    font-size: 4em;
  }

  .contact-info {
    padding-top: 1em;
  }
}

body {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#page-header {
  background-color: #E6E7E7;
  padding: 0.5em;
}

.contact-info {
  color: #F67643;
  white-space: nowrap;
}

.fa {
  color: #7DACD0;
}

.lowered {
  line-height: 4em;
  padding-top: 2em;
  font-size: 1.25em;
}

.contact-info>a {
  color: #F67643;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #E95013;
    font-weight: bold;
}
a:active {
    text-decoration: none;
}

#about-me-container {
  background-color: #155E96;
}

.centered-header {
  text-align: center;
  color: white;
}

#projects-container {
  /*background-color: #7DACD0;*/
  background-color: #555;
  padding-left: 7%;
  padding-right: 7%;
}

#projects-container>.row {
  padding: 1em;
}

#project-container {
    background-color: #7DACD0;
    color: white;
}

.about-me-text {
    margin-top: 0.5em;
    color: white;
}

.thumb {
    position:relative;
    overflow:hidden;
    margin-top: 2em;
}

.card-img-top {
  max-width: 100%;
}

.card-text {
    position:absolute;
    top:0;
    margin-left: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    color: black;
    z-index:2;
    font-weight: bold;
    text-align: center;
}

.content-image-vert {
  max-width: 50%;
}

.content-image-horiz {
  max-width: 90%;
}

.project-description {
  font-size: 2em;
  padding: 1em;
}

.project-header {
  color: #000;
  text-align: center;
}

.auto-resizable-iframe {
  max-width: 640px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
